<!DOCTYPE html>
<html data-bs-theme="light" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <title>Home - Brand</title>
    <link
      rel="stylesheet"
      href="static/assets/bootstrap/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Montserrat:400,700&amp;display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic&amp;display=swap"
    />
    <link rel="stylesheet" href="static/assets/fonts/font-awesome.min.css" />
    <link rel="stylesheet" href="static/assets/css/styles.min.css" />

    <style>
      /* --- Style for Uniform Portfolio Images --- */
      .portfolio .portfolio-item {
        aspect-ratio: 16/9;
        overflow: hidden; /* Hides the parts of the image that get cropped */
      }

      .portfolio .portfolio-item img {
        height: 100%;
        width: 100%;
        object-fit: fill; /*  Fills the container without stretching */
        transition: transform 0.3s ease; /* Adds a smooth transition for the hover effect */
      }

      /*  zoom effect when hover over img */
      .portfolio .portfolio-item:hover img {
        transform: scale(1.05);
      }
      /* --- End of Portfolio Image Styles --- */

      /*  color override*/
      .fw-dark {
        color: #000 !important;
      }

      /* Justify text in the About section */
      #about .lead {
        text-align: justify;
      }
      #mainNav {
        padding: 0.25rem 0 !important;
      }

      #mainNav .navbar-nav .nav-link {
        padding: 0.75rem 0.75rem !important;
      }

      #mainNav .navbar-brand {
        padding: 0.5rem 0 !important;
      }
    </style>
  </head>
  <body
    id="page-top"
    data-bs-spy="scroll"
    data-bs-target="#mainNav"
    data-bs-offset="72"
  >
    <nav
      class="navbar navbar-expand-lg fixed-top bg-secondary text-uppercase"
      id="mainNav"
    >
      <div class="container-fluid">
        <a class="navbar-brand" href="#page-top">TP.</a
        ><button
          data-bs-toggle="collapse"
          data-bs-target="#navbarResponsive"
          class="navbar-toggler text-white bg-primary text-uppercase rounded"
          aria-controls="navbarResponsive"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link px-0 px-lg-3 py-3 rounded" href="#portfolio"
                >Projects</a
              >
            </li>
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link px-0 px-lg-3 py-3 rounded" href="#about"
                >About</a
              >
            </li>
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link px-0 px-lg-3 py-3 rounded" href="#contact"
                >Contact</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <header class="text-center text-white bg-primary masthead">
      <div class="container">
        <!-- <img
          class="img-fluid d-block  mb-5 mx-auto"
          src="static/pikachu.jpg" 
        /> -->
        <h1 style="color: black">Tanishk Puthran.</h1>
        <hr class="star-dark" mb-2" />
        <h2 class="fw-dark mb-0">
          Python Developer | Linux Enthusiast | Aspiring DevOps
        </h2>
      </div>
    </header>
    <section id="portfolio" class="portfolio">
      <div class="container">
        <h2 class="text-uppercase text-center text-secondary">Projects</h2>
        <hr class="mb-5 star-dark" />
        <div class="row">
          <div class="col-md-6 col-lg-4">
            <a
              class="d-block mx-auto portfolio-item"
              href="#portfolio-modal-1"
              data-bs-toggle="modal"
              ><div
                class="position-absolute d-flex w-100 h-100 portfolio-item-caption"
              >
                <div
                  class="text-center text-white w-100 my-auto portfolio-item-caption-content"
                >
                  <i class="fa fa-search-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="static/Pokedex.png"
            /></a>
          </div>
          <div class="col-md-6 col-lg-4">
            <a
              class="d-block mx-auto portfolio-item"
              href="#portfolio-modal-2"
              data-bs-toggle="modal"
              ><div
                class="position-absolute d-flex w-100 h-100 portfolio-item-caption"
              >
                <div
                  class="text-center text-white w-100 my-auto portfolio-item-caption-content"
                >
                  <i class="fa fa-search-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="static/fegg.png"
            /></a>
          </div>
          <div class="col-md-6 col-lg-4">
            <a
              class="d-block mx-auto portfolio-item"
              href="#portfolio-modal-3"
              data-bs-toggle="modal"
              ><div
                class="position-absolute d-flex w-100 h-100 portfolio-item-caption"
              >
                <div
                  class="text-center text-white w-100 my-auto portfolio-item-caption-content"
                >
                  <i class="fa fa-search-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="static/todoo.png"
            /></a>
          </div>
          <div class="col-md-6 col-lg-4">
            <a
              class="d-block mx-auto portfolio-item"
              href="#portfolio-modal-4"
              data-bs-toggle="modal"
              ><div
                class="position-absolute d-flex w-100 h-100 portfolio-item-caption"
              >
                <div
                  class="text-center text-white w-100 my-auto portfolio-item-caption-content"
                >
                  <i class="fa fa-search-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="static/qrt.png"
            /></a>
          </div>
          <div class="col-md-6 col-lg-4">
            <a
              class="d-block mx-auto portfolio-item"
              href="#portfolio-modal-5"
              data-bs-toggle="modal"
              ><div
                class="position-absolute d-flex w-100 h-100 portfolio-item-caption"
              >
                <div
                  class="text-center text-white w-100 my-auto portfolio-item-caption-content"
                >
                  <i class="fa fa-search-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="static/tux.png"
            /></a>
          </div>
          <div class="col-md-6 col-lg-4">
            <a
              class="d-block mx-auto portfolio-item"
              href="#portfolio-modal-6"
              data-bs-toggle="modal"
              ><div
                class="position-absolute d-flex w-100 h-100 portfolio-item-caption"
              >
                <div
                  class="text-center text-white w-100 my-auto portfolio-item-caption-content"
                >
                  <i class="fa fa-search-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="static/meta.png"
            /></a>
          </div>
        </div>
      </div>
    </section>
    <section class="text-black bg-primary mb-0" id="about">
      <div class="container">
        <h2 class="text-uppercase text-center text-black">About</h2>
        <hr class="mb-5 star-dark" />
        <div class="row">
          <div class="col-lg-6 mx-auto">
            <p class="lead text-justify text-black fw-bold">
              I'm a final-year BCA student, with a strong interest in Linux
              systems and backend development. I also enjoy automating tasks and
              customizing Android devices using tools like SSH, Termux, and ADB.
              I'm exploring various Linux distributions on Virtual Machines, and
              diving deeper into networking, the command-line interface, and
              version control with Git. Additionally, I'm learning Python
              frameworks like Flask to strengthen my backend development skills.
              Always curious about open-source tools and technologies and eager
              to contribute to good projects.
            </p>
          </div>
        </div>
        <div class="text-center mt-4">
          <a class="btn btn-outline-light btn-xl" role="button" href="#"
            ><i class="fa fa-home me-2"></i><span>Home</span></a
          >
        </div>
      </div>
    </section>
    <section id="contact">
      <div class="container">
        <h2 class="text-uppercase text-center text-secondary mb-0">
          Contact Me
        </h2>
        <hr class="mb-5 star-dark" />
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <form id="contactForm" name="sentMessage">
              <div>
                <div class="mb-0 pb-2 form-floating ">
                  <input
                    class="form-control"
                    type="text"
                    id="name"
                    required=""
                    placeholder="Name"
                  /><label class="form-label">Name</label
                  ><small class="form-text text-danger help-block"></small>
                </div>
              </div>
              <div>
                <div class="mb-0 pb-2 form-floating">
                  <input
                    class="form-control"
                    type="email"
                    id="email"
                    required=""
                    placeholder="Email Address"
                  /><label class="form-label">Email Address</label
                  ><small class="form-text text-danger help-block"></small>
                </div>
              </div>
              <div>
                <div class="mb-0 pb-2 form-floating">
                  <input
                    class="form-control"
                    type="tel"
                    id="phone"
                    required=""
                    placeholder="Phone Number"
                  /><label class="form-label">Phone Number</label
                  ><small class="form-text text-danger help-block"></small>
                </div>
              </div>
              <div>
                <div class="mb-5 pb-2 form-floating">
                  <textarea
                    class="form-control"
                    id="message"
                    required=""
                    placeholder="Message"
                    style="height: 150px"
                  ></textarea
                  ><label class="form-label">Message</label
                  ><small class="form-text text-danger help-block"></small>
                </div>
              </div>
              <div id="success"></div>
              <div>
                <button
                  class="btn btn-primary btn-xl"
                  id="sendMessageButton"
                  type="submit"
                >
                  Send
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
    <footer class="text-center footer">
      <div class="container">
        <div class="row">
          <div class="col-md-4 mb-5 mb-lg-0">
            <h4 class="text-uppercase mb-4">Location</h4>
            <p>Udupi, Karnataka<br />India</p>
          </div>
          <div class="col-md-4 mb-5 mb-lg-0">
            <h4 class="text-uppercase">Websites</h4>
            <br />
            <ul class="list-inline">
              <li class="list-inline-item">
                <a
                  class="btn btn-outline-light text-center btn-social rounded-circle"
                  role="button"
                  href="https://github.com/TDS2K5/"
                  target="_blank"
                  rel="noopener noreferrer"
                  ><i class="fa fa-github fa-fw"></i
                ></a>
              </li>
              <li class="list-inline-item">
                <a
                  class="btn btn-outline-light text-center btn-social rounded-circle"
                  role="button"
                  href="#"
                  ><i class="fa fa-linkedin fa-fw"></i
                ></a>
              </li>
              <li class="list-inline-item">
                <a
                  class="btn btn-outline-light text-center btn-social rounded-circle"
                  role="button"
                  href="#"
                  ><i class="fa fa-twitter fa-fw"></i
                ></a>
              </li>
            </ul>
          </div>
          <div class="col-md-4">
            <h4 class="text-uppercase mb-4">Mail</h4>
            <br />
            <p class="lead mb-0">
              <span
                ><a href="mailto:tanishkputhran1@gmail.com"
                  >tanishkputhran1@gmail.com</a
                >&nbsp;</span
              >
            </p>
          </div>
        </div>
      </div>
     
    <div class="position-fixed d-lg-none scroll-to-top rounded">
      <a class="text-center d-block rounded text-white" href="#page-top"
        ><i class="fa fa-chevron-up"></i
      ></a>
    </div>
    <div
      class="modal text-center"
      role="dialog"
      tabindex="-1"
      id="portfolio-modal-1"
    >
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button
              class="btn-close"
              type="button"
              aria-label="Close"
              data-bs-dismiss="modal"
            ></button>
          </div>
          <div class="modal-body">
            <div class="container text-center">
              <div class="row">
                <div class="col-lg-8 mx-auto">
                  <h2 class="text-uppercase text-secondary mb-0">Pokedex</h2>
                  <hr class="mb-5 star-dark" />
                  <img class="img-fluid mb-5" src="static/Pokedex.png" />
                  <p class="mb-5">
                    A simple Pokédex built with HTML, CSS, JavaScript and
                    PokeAPI — nostalgic with Gen 5 pixel sprites straight from
                    the video games! Nam.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer pb-5">
            <a
              class="btn btn-primary btn-lg mx-auto rounded-pill"
              role="button"
              href="https://github.com/TDS2K5/pokemon"
              target="_blank"
              rel="noopener noreferrer"
              ><i class="fa fa-github"></i>&nbsp;GitHub</a
            >
          </div>
        </div>
      </div>
    </div>
    <div
      class="modal text-center"
      role="dialog"
      tabindex="-1"
      id="portfolio-modal-2"
    >
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button
              class="btn-close"
              type="button"
              aria-label="Close"
              data-bs-dismiss="modal"
            ></button>
          </div>
          <div class="modal-body">
            <div class="container text-center">
              <div class="row">
                <div class="col-lg-8 mx-auto">
                  <h2 class="text-uppercase text-secondary mb-0">FriedEgg</h2>
                  <hr class="mb-5 star-dark" />
                  <img class="img-fluid mb-5" src="static/fegg.png" />
                  <p class="mb-5">
                    FriedEgg is a Stark-inspired, AI powered voice / text-based
                    virtual assistant designed to perform tasks such as web
                    browsing, playing music, fetching news, and responding to
                    user queries.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer pb-5">
            <a
              class="btn btn-primary btn-lg mx-auto rounded-pill"
              role="button"
              href="https://github.com/TDS2K5/fried-egg"
              target="_blank"
              rel="noopener noreferrer"
              ><i class="fa fa-github"></i>&nbsp;GitHub</a
            >
          </div>
        </div>
      </div>
    </div>
    <div
      class="modal text-center"
      role="dialog"
      tabindex="-1"
      id="portfolio-modal-3"
    >
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button
              class="btn-close"
              type="button"
              aria-label="Close"
              data-bs-dismiss="modal"
            ></button>
          </div>
          <div class="modal-body">
            <div class="container text-center">
              <div class="row">
                <div class="col-lg-8 mx-auto">
                  <h2 class="text-uppercase text-secondary mb-0">ToDo List</h2>
                  <hr class="mb-5 star-dark" />
                  <img class="img-fluid mb-5" src="static/todoo.png" />
                  <p class="mb-5">
                    ToDo is a simple web-based to-do list app built with Flask
                    and SQLAlchemy, along with Bootstrap for HTML and CSS
                    templates, also featuring Jinja2 integration.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer pb-5">
            <a
              class="btn btn-primary btn-lg mx-auto rounded-pill"
              role="button"
              href="https://github.com/TDS2K5/todo"
              target="_blank"
              rel="noopener noreferrer"
              ><i class="fa fa-github"></i>&nbsp;GitHub</a
            >
          </div>
        </div>
      </div>
    </div>
    <div
      class="modal text-center"
      role="dialog"
      tabindex="-1"
      id="portfolio-modal-4"
    >
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button
              class="btn-close"
              type="button"
              aria-label="Close"
              data-bs-dismiss="modal"
            ></button>
          </div>
          <div class="modal-body">
            <div class="container text-center">
              <div class="row">
                <div class="col-lg-8 mx-auto">
                  <h2 class="text-uppercase text-secondary mb-0">QR to text</h2>
                  <hr class="mb-5 star-dark" />
                  <img class="img-fluid mb-5" src="static/qrt.png" />
                  <p class="mb-5">
                    QR code to text convertor - upload jpg, jpeg and png to
                    instantly decode cryptic qr codes and unleash what's behind
                    em!
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer pb-5">
            <a
              class="btn btn-primary btn-lg mx-auto rounded-pill"
              role="button"
              href="https://github.com/TDS2K5/qr"
              target="_blank"
              rel="noopener noreferrer"
              ><i class="fa fa-github"></i>&nbsp;GitHub</a
            >
          </div>
        </div>
      </div>
    </div>
    <div
      class="modal text-center"
      role="dialog"
      tabindex="-1"
      id="portfolio-modal-5"
    >
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button
              class="btn-close"
              type="button"
              aria-label="Close"
              data-bs-dismiss="modal"
            ></button>
          </div>
          <div class="modal-body">
            <div class="container text-center">
              <div class="row">
                <div class="col-lg-8 mx-auto">
                  <h2 class="text-uppercase text-secondary mb-0">
                    tux said hi!
                  </h2>
                  <hr class="mb-5 star-dark" />
                  <img class="img-fluid mb-5" src="static/tux.png" />
                  <p class="mb-5">
                    A wild Tux appears!
                    <br />
                    PS : Congrats! You clicked on the easter egg ;)
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer pb-5">
            <a
              class="btn btn-primary btn-lg mx-auto rounded-pill"
              role="button"
              data-bs-dismiss="modal"
              ><i class="fa fa-close"></i>&nbsp;Close</a
            >
          </div>
        </div>
      </div>
    </div>
    <div
      class="modal text-center"
      role="dialog"
      tabindex="-1"
      id="portfolio-modal-6"
    >
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button
              class="btn-close"
              type="button"
              aria-label="Close"
              data-bs-dismiss="modal"
            ></button>
          </div>
          <div class="modal-body">
            <div class="container text-center">
              <div class="row">
                <div class="col-lg-8 mx-auto">
                  <h2 class="text-uppercase text-secondary mb-0">Portfolio</h2>
                  <hr class="mb-5 star-dark" />
                  <img class="img-fluid mb-5" src="static/port_meta.png" />
                  <p class="mb-5">
                    Self referencing this portfolio page built with Flask and
                    Bootstrap templates.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer pb-5">
            <a
              class="btn btn-primary btn-lg mx-auto rounded-pill"
              role="button"
              data-bs-dismiss="modal"
              ><i class="fa fa-close"></i>&nbsp;Close</a
            >
          </div>
        </div>
      </div>
    </div>
    <script src="static/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="static/assets/js/script.min.js"></script>
  </body>
</html>
